<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8" />

    <title>Yorkoza</title>

    <meta name="viewport"
        content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />

    <link rel="icon" type="image/png" href="/static/img/icon.png" />

    <!--<link rel="manifest" href="manifest.json" />-->
    <meta name="theme-color" content="#31d53d" />


    <!--Style sheets-->
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    <link rel="stylesheet" href="" id="anim" type="text/css">

</head>

<body class="device">
    <div class="headbar">
        <div class="menu_container">
            <button class="menu_item" id="documentaion_btn">Docs</button>
            <button class="menu_item" id="team_btn">About Us</button>
            <button class="menu_item" id="help_btn">Help</button>
            
        </div>
    </div>
    <div class="main_view_visible">

        <div class="code_text_box_container">
            <textarea name="codeinput" id="codeinput" cols="30"
                rows="10">x = 24 + 21</textarea>
        </div>

        <!-- Console emulator -->
        <div class="console_container">
            <div id="console_emulation_space" class="console_emulation_space">
                <div class="Console_block centered">Console emulator</div>
            </div>
            <div class="console_menu_container">
                <button class="console_menu_button">Clear</button>
                <button class="console_menu_button">Reset</button>
                <button class="console_menu_button">Abort</button>
            </div>
        </div>

        <button class="compile_button" id="compile_button"><span>Compile and run</span>
            <div class="icon"></div>
        </button>
    </div>

    <script src="/static/js/index.js"></script>
</body>

</html>